aiohttp
aiosignal
anyio
appdirs
astor
async-timeout
attrs
audioread
Babel
bce-python-sdk
Bottleneck
braceexpand
certifi
cffi
charset-normalizer
click
colorama
colorlog
commonmark
contourpy
cycler
Cython
datasets
decorator
dill
Distance
editdistance
fastapi
filelock
Flask
Flask-Babel
flatbuffers
fonttools
frozenlist
fsspec
future
g2p-en
g2pM
h11
h5py
huggingface-hub
idna
importlib-metadata
inflect
itsdangerous
jieba
Jinja2
joblib
jsonlines
kaldiio
kiwisolver
librosa
llvmlite
loguru
lxml
MarkupSafe
matplotlib
mock
multidict
multiprocess
nara-wpe
nltk
numba
numpy
onnxruntime
OpenCC
opt-einsum
packaging
paddle-bfloat
paddle2onnx
paddlefsl
paddlenlp
paddlepaddle
paddlespeech
paddlespeech-feat
pandas
pathos
pattern-singleton
Pillow
pooch
portalocker
pox
ppft
praatio
prettytable
protobuf
pyarrow
pybind11
pycparser
pycryptodome
pydantic
Pygments
pyparsing
pypinyin
pypinyin-dict
pytest-runner
python-dateutil
pytz
pywin32
pyworld
PyYAML
regex
requests
resampy
responses
rich
sacrebleu
scikit-learn
scipy
sentencepiece
seqeval
six
sniffio
soundfile
starlette
tabulate
TextGrid
threadpoolctl
timer
tqdm
typeguard
typer
typing_extensions
urllib3
uvicorn
visualdl
wcwidth
webrtcvad
websockets
Werkzeug
win32-setctime
xxhash
yacs
yarl
zhon
zipp
